<div class="nav-component">

  
  <img src="/assets/images/logo-plain.svg" alt="" srcset="">
  
  <div>
    <a routerLink="/signup" routerLinkActive="active">GET STARTED</a>
    <a routerLink="/signup" routerLinkActive="active">ABOUT</a>
    <a routerLink="/signup" routerLinkActive="active">CONTACT</a>
    <button class="button">
      <a id="button-text" routerLink="/signup" routerLinkActive="active">LOG IN</a>
    </button>
  </div>

</div>


  <!--
  TODO: Add back once UserComponent is created
  <a routerLink="/user" routerLinkActive="active">user</a>
-->
