<p>An account is needed to save your information during
 your aplication process.</p>

 <form (submit)="signup()">
<label for="familyName">Give your Family a name</label>
<input id="familyName" name="familyName" [(ngModel)]="signupUser.familyName">

<div>
    <input type="file" id="profilePicture" name="profilePicture" accept="image/png, image/jpeg" [(ngModel)]="signupUser.profilePicture">
    <label for="profilePicture">Upload your profile picture</label>
</div> 





<input
  type="hidden"
  role="uploadcare-uploader"
  name="content" />



<h2>Your Contact Information</h2>

<label for="name">Name:</label>
<div>
  <input id="name" name="firstName" [(ngModel)]="signupUser.firstName"> 
  <input name="lastName" [(ngModel)]="signupUser.lastName">
</div>

<label for="email">Email:</label>
<input id="email" name="email" [(ngModel)]="signupUser.email">

<label for="confirmEmail">Confirm Email:</label>
<input id="confirmEmail" name="confirmEmail" [(ngModel)]="signupUser.confirmEmail">

<label for="phone">Phone</label>
<input id="phone" name="phone" [(ngModel)]="signupUser.phone">

<h2>Your Address</h2>
<label for="address">Address</label>

<input id="address" name="addressStreet" [(ngModel)]="signupUser.addressStreet">
<input name="addressContinued" [(ngModel)]="signupUser.addressContinued">

<div>
  <input name="city" [(ngModel)]="signupUser.city">


<select name="state" id="state" [(ngModel)]="signupUser.state">
  <option *ngFor="let state of states" value="{{state}}">{{state}}</option>

</select>

  <input name="zipCode" [(ngModel)]="signupUser.zipCode">
</div>

<h2>Your Access</h2>
<label for="username">Choose Username</label>
<input id="username" name="username" [(ngModel)]="signupUser.username">

<label for="password">Choose Password</label>
<input id="password" name="password" [(ngModel)]="signupUser.password">

<label for="verifyPassword">Verify Password</label>
<input id="verifyPassword" name="verifyPassword">

<div>
  <input id="terms" name="terms" [(ngModel)]="signupUser.terms">
  <label for="terms">By checking this box you agree to our <a>Terms & Conditions</a></label>

</div>

<button action="submit">SUBMIT</button>
<a>Cancel</a>



 </form> 


