<p>An account is needed to save your information during
 your aplication process.</p>

 <form (submit)="signup()">
<label for="familyName">Give your Family a name</label>
<input id="familyName" name="familyName">

<div>
    <input type="file" id="profilePicture" name="profilePicture" accept="image/png, image/jpeg">
    <label for="profilePicture">Upload your profile picture</label>
</div>

<h2>Your Contact Information</h2>

<label for="name">Name:</label>
<div>
  <input id="name" name="firstName"> 
  <input name="lastName">
</div>

<label for="email">Email:</label>
<input id="email" name="email">

<label for="confirmEmail">Confirm Email:</label>
<input id="confirmEmail" name="confirmEmail">

<label for="phone">Phone</label>
<input id="phone" name="phone">

<h2>Your Address</h2>
<label for="address">Address</label>

<input id="address" name="addressStreet">
<input name="addressContinued">

<div>
  <input name="city">
  <input name="state">
  <input name="zipCode">
</div>

<h2>Your Access</h2>
<label for="username">Choose Username</label>
<input id="username" name="username">
<label for="password">Choose Password</label>
<input id="password" name="password">
<label for="verifyPassword">Verify Password</label>
<input id="verifyPassword" name="verifyPassword">

<div>
  <input id="terms" name="terms">
  <label for="terms">By checking this box you agree to our <a>Terms & Conditions</a></label>

</div>

<button action="submit">SUBMIT</button>
<a>Cancel</a>



 </form>


