<app-nav-bar></app-nav-bar>
<div>

  <div class="hero-component">
    <div class="hero-component-layer"></div>
    <div>  
      <h1 class="text" >Simple, Safe, and Paperless</h1>
      <h1 class="text" >Foster Care Application</h1>
    </div>

    <div>
      <button class="button  button-red">
        <a class="button-link text">GET STARTED</a>
      </button>
    </div>
  </div>

  <div class="search-component">
    <div class="search-section">
      <h3 class="text" >Done with Training?</h3>
      <p class="text" >Next step is to become a Foster Parent</p>
    </div>
    <div class="search-section">
      <h3 class="text" >New to Foster Care?</h3>
      <p class="text" >Find Doster Care classes near you so you can become cetified</p>
    </div>
  </div>

  <div class="steps-component">
    <p class="text" >Applying to Foster Care has never been easier and faster</p>
    <div class="steps-icons">
      <div class="each-step">
        <img src="/assets/images/information.svg" alt="get informed"/>
        <h4 class="text" >Get Informed</h4>
      </div>
      <div class="each-step">
        <img src="/assets/images/training.svg" alt="training and certification">  
        <h4 class="text" >Training and Certification</h4>
      </div>
      <div class="each-step">
        <img src="/assets/images/apply.svg" alt="apply" />
        <h4 class="text" >Apply</h4>
      </div>
      <div class="each-step">
        <img src="/assets/images/inspection.svg" alt="home inspection">
        <h4 class="text" >Home Inspection</h4>
      </div>
      <div class="each-step">
        <img src="/assets/images/placement.svg" alt="child placement" />
        <h4 class="text" >Child Placement</h4>
      </div>
    </div>
  </div>

  <div class="reviews-component">
    <div class="each-review">
      <img src="/assets/images/mom-son-glasses-cropped.png" alt="mom sun glasses" />
      <h5 class="text">"I am so thankful to DotKids and making the process easier foster families. When I received all the paperwork
        I thought: There must be an easier way!"</h5>
    </div>
    <div class="each-review">
        <img src="/assets/images/crowd-cropped.png" alt="crowd" /> 
      <h5 class="text">"Thank you DotKids for all
        the loving foster parents
        you sent to our agency. We received 50% more applications. than we usually
        do in a month,"</h5>
    </div>
  </div>

  <div class="donation-component">
    <h2 class="text">Love is contagious. Be the host</h2>
    <p class="text" >Our designers and developers volunter their free times to help others. Help us to continue this service. </p>
    <button class="button button-green">
      <a class="button-link">MAKE A DONATION</a>
    </button>
  </div>

  <div class="event-component">
    <h2 class="text">Join us on our Spooktacular Halloween Benefit Bash!</h2>
    <img src="/assets/images/rawpixel-804789-unsplash@2x.png" alt="kids dressed up" > 
  </div>

  <div class="footer">
    <div>
      <img src="/assets/images/logo-paperless.svg" alt="logo with slogan">
    </div>
    <div class="footer-links-and-copyright">
      <div class="footer-links">
        <a>GET STARTED</a>
        <a>ABOUT</a>
        <a>CONTACT</a>
        <button class="button button-purple">
          <a class="button-link">DONATE</a>
        </button>
      </div>
      <h5 class="text">Copyright 2018 Dot.Kids. All Rights Reserved.</h5>
    </div>
  </div>

</div>
