<app-nav-bar></app-nav-bar>
<div>
<div>
  <h1>Simple, Safe, and Paperless</h1>
  <a>GET STARTED</a>
</div>
<div>
  <div>
    <h3>Done with Training?</h3>
    <p>Next step is to become a Foster Parent</p>
  </div>
  <div>
    <h3>New to Foster Care?</h3>
    <p>Find Doster Care classes near you so you can become cetified</p>
  </div>
</div>
<div>
  <p>Applying to Foster Care has never been easier and faster</p>
  <div>
    <h4>Get Informed</h4>
    <h4>Training and Certification</h4>
    <h4>Apply</h4>
    <h4>Home Inspection</h4>
    <h4>Child Placement</h4>
  </div>
</div>
<div>
  <div>
    <p>Image</p>
    <p>"I am so thankful to DotKids and making the process easier foster families. When I received all the paperwork I thought: There must be an easier way!"</p>
  </div>
    
    <div>
      <p>Image</p>
      <p>"Thank you DotKids for all
        the loving foster parents 
        you sent to our agency. We received 50% more applications. than we usually
        do in a month,"</p>
      </div>
      
    </div>

    <div>
      <h2>Love is contagious. Be the host</h2>
      <p>Our designers and developers volunter their free times to help others. Help us to continue this service. </p>
        <a>MAKE A DONATION</a>
    </div>

    <div>
      <h2>Join us on our Spooktacular Halloween Benefit Bash!</h2>
      <p>image</p>
    </div>

    <div>
      <div>
        <p>image logo</p>
      </div>
      <div>
        <div>
          <a>GET STARTED</a>
          <a>ABOUT</a>
          <a>CONTACT</a>
          <a>DONATE</a>
        </div>
        <h5>Copyright 2018 Dot.Kids. All Rights Reserved.</h5>
      </div>
    </div>



</div>
